.fahrzeug-box {
    height: 15%;
    border-radius: 15px;
    background-color: aliceblue;
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fahrzeug-box .status {
    height: 100%;
    width: 7%;
    background-color: #5050507c;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font_color);
    font-size: 1.8rem;
    font-weight: bold;
}

.fahrzeug-box .info {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    overflow: hidden;
}
.fahrzeug-box .info h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--font_color);
}
.fahrzeug-box .info h3 {
    margin-top: -10px;
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--font_dim_color);
}

.fahrzeug-box .image {
    background-color: #50505050;
    border-radius: 0 15px 15px 0;
    height: 100%;
    width: 13%;
}

#status0, #status4 {
    background-color: var(--status_red);
}
#status1 {
    background-color: var(--status_yellow);
}
#status2 {
    background-color: var(--status_green);
}
#status3 {
    background-color: var(--status_orange);
}
#status5, #status7, #status8, #status9 {
    background-color: var(--status_grey);
}
#status6 {
    background-color: var(--status_dark_grey);
}



