.view {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parent {
    margin-top: 5px;
    display: grid;
    width: calc(100vw - 10px);
    height: calc(100vh - 8px - 30px);
    grid-template-columns: 5fr 8fr 6fr;
    grid-template-rows: 1.5fr 3.5fr 5.3fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}


.monitor-box {
    background-color: var(--box_color);
    color: var(--font_color);
    font-family: 'Arial', sans-serif;
    padding: 5px;
    overflow: hidden;
}
.monitor-box h2 {
    text-align: center;
    font-size: 1.25em;
    color: var(--font_dim_color);
    margin: 0.3em;
}

#logo { 
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}
#clock-frame { 
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock { 
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}
#date {
    font-size: 1.75em;
    text-align: center;
}
#timeline { 
    grid-area: 3 / 1 / 4 / 2; 
}
#personal { 
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    flex-direction: row;
    margin: 0px;
    gap: 5px;
}
#fahrzeuge { 
    grid-area: 2 / 2 / 3 / 3; 
}
#einsätze { 
    grid-area: 3 / 2 / 4 / 3; 
}
#weather { 
    grid-area: 2 / 3 / 3 / 4; 
    background-image: url("../images/bgweather.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;

}
#mapbox { 
    grid-area: 3 / 3 / 4 / 4; 
}

.status-bar {
    margin-top: 3px;
    height: 30px;
    width: 100vw;
    background-color: var(--box_color);
    color: var(--font_color);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.timeinfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 20%
}
.textinfo {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.barstatas {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 20%;
}

.fahrzeuge {
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.einsätze {
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.einsatz {
    height: 85px;
    border-radius: 15px;
    background-color: #ffffff97;
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.einsatzinfo{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 70%;
}
.einsatzinfo h1 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}
.einsatzinfo h3 {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
}
.einsatzinfo h4 {
    font-size: 0.9rem;
    font-weight: normal;
    margin-top: 0;
}

.einsatz .fahrzeuge {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.fzg {
    height: 25%;
    width: auto;
    padding: 5px 8px;
    margin-left: 10px;
    background-color: #0031ae5e;
    color: var(--font_color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.event h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--font_color);
}
.event .time {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: center;
}

/* Highlight for current events */
.upcoming-events .event.current {
    background: rgba(245, 166, 35, 0.12);
    border: 1px solid #f5a623;
    box-shadow: 0 0 0px rgba(245, 166, 35, 0.35);
    border-radius: 4px;
}


.personal-box {
    width: calc(100% - 3*5px);
    margin: 0px;
    background-color: var(--box_color);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.personal-box a {
    text-decoration: none;
    color: var(--font_color);
    font-weight: bold;
    font-size: 2.25em;
}
a#nah {
    color: #4cff05 !important;
}
a#mittelnah {
    color: #ffc905 !important;
}
a#fern {
    color: #dd0b0b !important;
}

.weather-data {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: end;
    height: 100%;
    width: 50%;
    padding-left: 10%;
}
.weather-data h1 {
    font-size: 4.5rem;
    margin: 0;
}
.weather-data h3 {
    font-size: 1.5rem;
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 10%;
}
.icon #icon{
    height: 100px;
    width: 100px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.weather-info p {
    font-size: 1.4rem;
    margin: 0;
}
.weather-info p span {
    font-weight: bold;
}

#map { 
    height: 100%;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.einsatz-marker-label {
    background: rgba(17, 17, 17, 0.8);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.65rem;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
    pointer-events: none;
    white-space: nowrap;
    line-height: 1;
}

@media (max-width: 1200px) {
    .view {
        height: 100vh;
    }
    #logo img {
        width: 90%;
        height: auto;
    }
    #clock {
        font-size: 3.5em;
    }
    #date {
        font-size: 1.25em;
    }
    .einsatzinfo h1 {
        font-size: 1.2rem;
    }
    .einsatzinfo h3 {
        font-size: 1rem;
    }
    .weather-data h1 {
        font-size: 3rem;
    }
    .weather-data h3 {
        font-size: 1.2rem;
    }
    .personal-box a {
        font-size: 1.75em;
    }
}